* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: 1px solid rgb(157, 155, 155);
}


.logo img{
    width: 100px;
    height: 100px;
    
}

.menu a{
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.menu a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.menu a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #000000;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #000000;
    font-weight: 500;
    transition: .5s;
    
}


.menu .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}

.menu .btnLogin-popup:hover{
    background: #000000;
    color: #ffffff;
}

h1{
    margin-top: 30px;
}

form {
    max-width: 400px;
    margin: 20px auto;
}

label, input {
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    
}


input[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px;
}
